<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true">

    <!-- запускаем все тесты из корневой директории -->
    <testsuite name="Skaya Models Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <!-- не смотрим на следующие директории -->
        <blacklist>
            <directory suffix=".php">/usr/share/php</directory>
            <directory suffix=".php">../tests</directory>
            <directory suffix=".php">../tests/Model/_files</directory>
            <directory suffix=".php">../tests/Model/mappers/_files</directory>
            <directory suffix=".php">../tests/Model/Row/_files</directory>
        </blacklist>
        <!-- смотрим лишь на следующие директории -->
        <whitelist>
            <directory suffix=".php">../Skaya</directory>
            <exclude>
                <!--<directory suffix=".phtml">../application</directory>
                <file>../application/Bootstrap.php</file>-->
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <!-- логирование и создание отчета -->
        <log type="coverage-html" target="./report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>